<% if defined?(@flashes) %>
  <% @flashes.consume!.each do |flash| %>
    <div id="flash" class="notification is-<%= flash[:class] %>">
    <button class="delete" onclick="event.target.parentElement.hidden = true"></button>
    <%= flash[:msg] %>
    </div>
  <% end %>
<% end %>
