<div class="columns">
  <div class="column">
    <h2>Login Form</h2>

    <%= erb :flash, :views => 'app/views/partials' %>

    <div class="content">
      <p>COMING SOON</p>
    </div>
  </div>
</div>
